@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

:root {
  --orange: #f6742e;
  --brown: #4f3130;
  --blue: #9fbbcc;
  --darkblue: #1976d2;
  --darkgrey-text: #333333;
  --lightgrey-text: #707070;
  --stroke: #bdbdbd;
  --lightgrey: #eeeeee;
  --lightblue: #eff5fa;
  --white: #ffffff;

  --yellow: #f9bb3c;
  --green: #4fc487;
  --red: #dc5e5e;

  --font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font) !important;
}

.pointer {
  cursor: pointer;
}
